[user]
        name = tedshd
        email = tedshd@gmail.com
[core]
        editor = vim
[color]
        ui = true
[alias]
        br = branch
        co = checkout
        st = status
        d = difftool
[diff]
        tool = vimdiff
[merge]
        tool = vimdiff
[difftool]
        prompt = false
